@using Microsoft.AspNetCore.Identity
@using Watchlist.Data
@inject SignInManager<Utilisateur> SignInManager
@inject UserManager<Utilisateur> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="navmenu d-none d-xl-block">
        <div class="dropdown">
            <a id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: 2px solid;padding: 12px 15px;">
                <i class="fa fa-user-circle-o" style="font-size:40px;margin-right: 10px;"></i>
                <span class="user-name" style="color: white;">@User.Identity?.Name</span> <i class="bi bi-chevron-down toggle-dropdown text-light"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Mon profil</a></li>
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Changer mot de passe</a></li>
                @if (User.IsInRole("Admin"))
                {
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin</a></li>
                }
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form method="post" asp-area="Identity" asp-page="/Account/Logout">
                        <button type="submit" class="dropdown-item">Déconnexion</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <a class="btn-getstarted" asp-area="Identity" asp-page="/Account/Register">Get Started</a>
}
